node_modules
.next
coverage
dist
build
.env
.env.local
.DS_Store
*.log
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-shm
prisma/dev.db-wal
storage/*
!storage/.gitkeep
!storage/uploads/
!storage/uploads/.gitkeep

